{% extends "orderform.html" %} 

{% block content %} 

<div class="container">
    <h1 class="text-center" style="margin-top:40px; color: #2b074c !important; font-family:'Sanchez', serif;">Cruzos Details</h1>
<div class="row" style="margin-top:35px; margin-bottom:85px;">   
<div class="card col-4">
        <div class="card-body">
          <h2 class="card-title text-center"><i class="fas fa-phone" style="color: #2b074c !important; "></i></h2>
          <h2 class="card-text text-center" style="color: #2b074c !important; font-family:'Sanchez', serif;">Contact</h2>
          <p class="card-text text-center" style="color: #2b074c !important; font-family:'Sanchez', serif;">+91 8879 565 999</p>
        </div>
      </div>

      <div class="card col-4">
            <div class="card-body">
              <h2 class="card-title text-center"><i class="fas fa-map-marker-alt" style="color: #2b074c !important;"></i></h2>
              <h2 class="card-text text-center" style="color: #2b074c !important; font-family:'Sanchez', serif;">Address</h2>
              <p class="card-text text-center" style="color: #2b074c !important; font-family:'Sanchez', serif;">Cruz House, Opposite I.I.T Main Gate, Powai, Mumbai 400076.</p>
            </div>
          </div>

          <div class="card col-4">
                <div class="card-body">
                  <h2 class="card-title text-center"><i class="far fa-envelope" style="color: #2b074c !important;"></i></h2>
                  <h2 class="card-text text-center" style="color: #2b074c !important; font-family:'Sanchez', serif;">Mail</h2>
                  <p class="card-text text-center" style="color: #2b074c !important; font-family:'Sanchez', serif;">contact@cruzos.com</p>
                </div>
              </div>

</div>

</div>
{% endblock %}